[submodule "addon-vzlogger"]
	path = addon-vzlogger
	url = ../addon-vzlogger.git
[submodule "addon-fhem"]
	path = addon-fhem
	url = ../addon-fhem.git
[submodule "addon-tesla-pv-charging"]
	path = addon-tesla-pv-charging
	url = ../addon-tesla-pv-charging.git
[submodule "addon-raspberrymatic_net_host"]
	path = addon-raspberrymatic_net_host
	url = ../addon-raspberrymatic_net_host.git
[submodule "addon-tesla-ble-http-proxy"]
	path = addon-tesla-ble-http-proxy
	url = ../addon-tesla-ble-http-proxy.git
