[submodule "addon-vzlogger"]
	path = addon-vzlogger
	url = ../addon-vzlogger.git
[submodule "addon-fhem"]
	path = addon-fhem
	url = ../addon-fhem.git
[submodule "addon-tesla-pv-charging"]
	path = addon-tesla-pv-charging
	url = ../addon-tesla-pv-charging.git
